<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
</head>
<body onload="onLoad()">
  <h1>thank you for using our URL shortener!</h1>
  <input type="text" id="inputBox" placeholder="Enter text">
  <button onclick="handleEnterClick()">Enter</button>
  <label id="outputLabel"></label>

  <script>

    var data = {
        "browser": "",
        "ip": "",
        "location": "",
        "OS": "",
        "device": "",
        "startTime": "",
        "endTime": ""
    };

    function handleEnterClick() {
      var inputBox = document.getElementById("inputBox");
      var outputLabel = document.getElementById("outputLabel");
      var inputValue = inputBox.value;
      
      // Check if input is a valid link
      if (!checkLinkValidity(inputValue)) {
        // write to console that link is invalid
        console.log('Link is invalid!');
        
      }else{
        // write to console that link is invalid
        console.log('Link is valid!');
      }
      // Make a call to your Flask backend
      fetch('/process', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ input: inputValue })
      })
      .then(response => response.json())
      .then(data => {
        outputLabel.innerText = data.output;
      })
      .catch(error => {
        console.error('Error:', error);
      });

      inputBox.value = "";
    }

    async function checkLinkValidity(link) {
      try {
        const response = await fetch(link);
        if (response.ok) {
          console.log('Link is valid!');
          return true;
        } else {
          console.log('Link is invalid!');
          return false;
        }
      } catch (error) {
        console.error('Error occurred while checking link validity:', error);
      }
    }

    function onLoad() {

    //get users browser, ip, location, OS, and device and store in JSON
    // get users browser
    fetch('https://api.ipify.org?format=json')
      .then(response => response.json())
      .then(data => {
        updateData('ip', data.ip);
      }).catch(error => {
        console.error('Error:', error);
      });

    //get users location
    fetch('https://ipapi.co/json/')
      .then(response => response.json())
      .then(data => {
        updateData('location', data.city);
      })
      .catch(error => {
        console.error('Error:', error);
      });

    //get users OS
    updateData('OS', navigator.platform);

    //get users device
    updateData('device', navigator.userAgent);

    //get start time
    updateData('startTime', new Date());

    console.log(data);

    /*
      //get users browser
      fetch('https://api.ipify.org?format=json')
        .then(response => response.json())
        .then(data => {
          console.log(data.ip);
        })
        .catch(error => {
          console.error('Error:', error);
        });

      //get users location
      fetch('https://ipapi.co/json/')
        .then(response => response.json())
        .then(data => {
          console.log(data);
        })
        .catch(error => {
          console.error('Error:', error);
        });

      //get users OS
      fetch('https://api.ipify.org?format=json')
        .then(response => response.json())
        .then(data => {
          console.log(data.ip);
        })
        .catch(error => {
          console.error('Error:', error);
        });

      //get users device
      fetch('https://api.ipify.org?format=json')
        .then(response => response.json())
        .then(data => {
          console.log(data.ip);
        })
        .catch(error => {
          console.error('Error:', error);
        });*/

      var startTime = new Date();


    }

    function updateData(field, value) {
      if (data.hasOwnProperty(field)) {
      data[field] = value;
    }
}

  </script>
</body>
</html>
